/* Cores */
:root {
    --primary-color: #101010;
    --secondary-color: #222;
    --background-color: #f5f5f5;
}

/* Tamanho de fontes */
:root {
    --base-font-size: 16px;
    --heading-h1: 1.875rem;
    --heading-h2: 1rem;
    --heading-section: 1.5rem;
    --paragraph: 1rem;
    --paragraph-smaller: .75rem;
    --paragraph-extra-smaller: .6875rem;
    --pitchBar-slide-content-font-size: 1rem;
    --footer: .75rem;
}

/* Espaçamentos */
:root {
    --spacing-paragraph: 0;
    --spacing-ul: 2rem;
    --spacing-li: 1.875rem;
    --spacing-heading-h1: .5rem;
    --spacing-heading-h2: 1rem;

    --header-height: 3.75rem;
    --header-logo-width: 1.75rem;
    --header-logo-height: 3.25rem;
    --rightContent-width: 9.375rem;
    --rightContent-min-width: 7.5rem;
    --header-button-size: 1.875rem;
    --header-button-padding: 0.3125rem;

    --search-padding: 1.25rem 0;
    --search-input-height: 2.8125rem;
    --search-input-padding-left: 3rem;
    --search-button-position: .46875rem;
    
    --pitchBar-height: 3.44rem;
    --pitchBar-arrow-button-size: 1.63rem;
    --pitchBar-arrow-button-padding: .313rem;
    --pitchBar-arrow-button-position: .625rem;
    --pitchBar-carousel-padding: .625rem 0;
    --pitchBar-slide-img-size-cardSlide: 1.75rem;
    --pitchBar-slide-img-width-deliverySlide: 2.1875rem;
    --pitchBar-slide-img-height-deliverySlide: 1.1875rem;
    --pitchBar-slide-img-size-ticketSlide: 1.4375rem;
    --pitchBar-slide-img-width-securitySlide: 1.375rem;
    --pitchBar-slide-img-height-securitySlide: 1.5rem;
    --pitchBar-slide-content-margin-left: .313rem;

    --newsletter-max-width: 80rem;
    --newsletter-padding: 1.875rem 0;
    --newsletter-heading-margin: 0 0 .625rem 0;
    --newsletter-paragraph-margin-bottom: 1.25rem;
    --newsletter-form-column-gap: 1.25rem;
    --newsletter-form-max-width: 34.375rem;
    --newsletter-email-box-flex-basis: 25rem;
    --newsletter-sr-only-margin-bottom: .313rem;
    --newsletter-input-height: 2.8125rem;
    --newsletter-input-margin-bottom: 1rem;
    --newsletter-input-padding: .625rem;
    --newsletter-input-border-size: .0625rem;
    --newsletter-submit-button-flex-basis: 8.125rem;
    --newsletter-submit-button-height: 2.8125rem;
    --newsletter-submit-button-margin-bottom: 1.875rem;
    --newsletter-submit-button-padding: .625rem 1.25rem;
}