/* Cabeçalho principal */
.mainHeader {
    justify-content: space-between;
    max-width: var(--header-max-width);
    height: var(--header-height);
    margin: auto;
    padding: 0 var(--side-padding);
}

/* Logo */
.headerLogo {
    width: var(--header-logo-width);
    height: var(--header-logo-height);
}

/* Botões */
.rightContent {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: var(--rightContent-min-width);
}

.header-button {
    width: var(--header-button-size);
    height: var(--header-button-size); 
    padding: var(--header-button-padding);
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--header-button-border-radius);
    transition: background-color .2s ease-in;
}

.header-button:hover {
    background-color: var(--background-color);
}

/* Caixa de pesquisa */
.search {
    padding: var(--search-padding) var(--side-padding);
}

.search-form {
    position: relative;
}

.search-input {
    width: var(--search-input-width);
    height: var(--search-input-height);
    padding-left: var(--search-input-padding-left);
}

.search-button {
    position: absolute;
    top: var(--search-button-position);
    left: var(--search-button-position);
}