/* Aplicar box-sizing: border-box; globalmente */
* {
    box-sizing: border-box;
}

/* Alinhamento de Texto */
.text-center {
    text-align: center;
}

/* Alinhamento Vertical */
.vertical-center {
    display: flex;
    align-items: center;
}

/* Cores de Fundo */
.bg-primary {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Bordas */
.rounded-corners {
    border-radius: var(--rounded-corners-border-radius);
}

/* Ocultar Elementos */
.bs {
    display: none;
}

/* Visibilidade */
.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/* Exibe todos os elementos para telas grandes e omite os elementos para telas menores */
@media screen and (min-width: 1024px) {
    /* Big Screens */
    .bs {
        display: block;
    }

    /* Mobile */
    .mb {
        display: none;
    }
}