/* Cabeçalho */
.mainHeader {
    height: var(--header-height);
    justify-content: space-between;
}

/* Logo */
.headerLogo {
    width: var(--header-logo-width);
    height: var(--header-logo-height);
}

/* Navegação */
/* em andamento */

/* Botões */
.rightContent {
    display: flex;
    justify-content: space-between;
    width: var(--rightContent-width);
    min-width: var(--rightContent-min-width);
}

.header-button {
    width: var(--header-button-size);
    height: var(--header-button-size); 
    padding: var(--header-button-padding);
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .2s ease-in;
}

.header-button:hover {
    background-color: var(--background-color);
}

/* Caixa de pesquisa */
.search {
    padding: var(--search-padding);
}

.search-form {
    position: relative;
}

.search-input {
    width: 100%;
    height: var(--search-input-height);
    padding-left: var(--search-input-padding-left);
}

.search-button {
    position: absolute;
    top: var(--search-button-position);
    left: var(--search-button-position);
}