/* Estilos para a barra de pitch */
.pitchBar {
    height: var(--pitchBar-height);
    padding: var(--pitchBar-padding);
    overflow: hidden;
    position: relative;
}

.pitchBarArrowButton {
    position: absolute;
    width: var(--pitchBar-arrow-button-size);
    height: var(--pitchBar-arrow-button-size);
    padding: var(--pitchBar-arrow-button-padding);
    background-color: transparent;
    cursor: pointer;
}

.prevButton {
    left: var(--pitchBar-arrow-button-position);
}

.nextButton {
    right: var(--pitchBar-arrow-button-position);
    transform: rotate(180deg);
}

.pitchBar-carousel {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.pitchBar-carousel::-webkit-scrollbar {
    height: 0;
}

.pitchBarSlide {
    flex: 0 0 var(--pitchBar-slide-flex-basis);
    display: grid;
    grid-template-columns: max-content auto;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.cardSlide .pitchBarSlide-img{
    width: var(--pitchBar-slide-img-size-cardSlide);
    height: var(--pitchBar-slide-img-size-cardSlide);
}

.deliverySlide .pitchBarSlide-img{
    width: var(--pitchBar-slide-img-width-deliverySlide);
    height: var(--pitchBar-slide-img-height-deliverySlide);
}

.ticketSlide .pitchBarSlide-img{
    width: var(--pitchBar-slide-img-size-ticketSlide);
    height: var(--pitchBar-slide-img-size-ticketSlide);
}

.securitySlide .pitchBarSlide-img{
    width: var(--pitchBar-slide-img-width-securitySlide);
    height: var(--pitchBar-slide-img-height-securitySlide);
}

.pitchBarSlide-content span {
    display: inline;
}