@media screen and (min-width: 1024px) {
    /* Espaçamentos */
    :root {
        --side-padding: 2.5rem;

        --search-input-width: 10rem;
        --search-input-height: 2.5rem;
        --search-input-padding-left: 2.5rem;
        --search-button-position: .35rem;
        --search-button-size: 1.8rem;

        --subHeader-max-width: 120rem;
        --subHeader-height: 2.5rem;
        --linksBox-width: 15rem;
        --subHeader-link-divider-width: .0625rem;
        --subHeader-link-divider-height: .9375rem;
        --linksBox-user-width: .625rem;
        --linksBox-user-margin-right: .3125rem;

        --hot-buttons-margin-top: 1.5rem;
        
        --section-buttons-margin-top: 1.5rem;

        --image-gallery-gap: .625rem;
        --image-gallery-flex-basis: 11.25rem;

        --newsletter-padding: 2.5rem;

        --footer-section-padding-bottom: 0;
        --footer-divider-margin: 2rem 0;
        --subFooter-gap: 0;
        --footer-policy-links-flex-basis: 20rem;
        --footer-copyright-width: auto;
    }
}