/* Cores */
:root {
    --primary-color: #101010;
    --secondary-color: #222;
    --background-color: #f5f5f5;
    --footer-link-hover-color: #f00;
}

/* Tamanho de fontes */
:root {
    --base-font-size: 16px;
    --heading-h1: 1.875rem;
    --heading-h2: 1rem;
    --heading-section: 1.5rem;
    --paragraph: 1rem;
    --paragraph-smaller: .875rem;
    --paragraph-extra-smaller: .75rem;
    --pitchBar-slide-content-font-size: 1rem;
    --hot-list-link: 2rem;
    --feature-product-name-font-size: .875rem;
    --feature-product-price-font-size: 1rem;
    --footer: .75rem;
}

/* Espaçamentos */
:root {
    --side-padding: 1rem;
    --spacing-paragraph: 0;
    --spacing-ul: 2rem;
    --spacing-heading-h1: .5rem;
    --spacing-heading-h2: 1rem;
    --spacing-heading-newsletter: 1.25rem;
    --rounded-corners-border-radius: 3.125rem;

    --header-max-width: 120rem;
    --header-height: 4rem;
    --header-logo-width: 1.875em;
    --header-logo-height: 3.5rem;
    --rightContent-min-width: 8rem;
    --header-button-size: 2rem;
    --header-button-padding: 0.3125rem;
    --header-button-border-radius: 50%;

    --search-padding: 1.25rem;
    --search-input-width: 100%;
    --search-input-height: 2.8125rem;
    --search-input-padding-left: 3rem;
    --search-button-position: .46875rem;
    
    --pitchBar-max-width: 54rem;
    --pitchBar-width: 100%;
    --pitchBar-height: 3.44rem;
    --pitchBar-padding: 0 3rem;
    --pitchBar-arrow-button-size: 1.63rem;
    --pitchBar-arrow-button-padding: .313rem;
    --pitchBar-arrow-button-position: .625rem;
    --pitchBar-slide-flex-basis: 100%;
    --pitchBar-slide-img-size-cardSlide: 1.75rem;
    --pitchBar-slide-img-width-deliverySlide: 2.1875rem;
    --pitchBar-slide-img-height-deliverySlide: 1.1875rem;
    --pitchBar-slide-img-size-ticketSlide: 1.4375rem;
    --pitchBar-slide-img-width-securitySlide: 1.375rem;
    --pitchBar-slide-img-height-securitySlide: 1.5rem;
    --pitchBar-slide-content-margin-left: .313rem;

    --main-content-gap: 3.75rem;
    --main-content-max-width: 85rem;

    --hot-button-width: 7.5rem;
    --hot-button-height: 2.5rem;
    --hot-list-gap: 1.25rem;
    --hot-list-max-width: 80rem;
    --hot-list-item-height: 3.75rem;
    --hot-list-item-flex-basis: 19.125rem;
    --hot-list-item-border-bottom-width: .0625rem;
    --hot-list-item-border-bottom-width-hover: .5rem;

    --feature-max-width: 69.375rem;
    --feature-scrollbar-height: .375rem;
    --feature-list-gap: 1.25rem;
    --feature-list-padding-bottom: 1.25rem;
    --feature-product-flex-basis: 11.25rem;
    --feature-product-max-width: 16rem;
    --feature-product-line-height: 1.1;
    --feature-product-name-height: 2.5rem;
    --feature-product-name-margin-top: .313rem;
    --feature-product-button-height: 2rem;
    --feature-product-button-margin-top: .625rem;

    --release-slide-flex-basis: 100%;
    --release-pagination-bottom: 30%;
    --release-pagination-left: 50%;
    --release-pagination-translateX: -50%;
    --release-pagination-dot-size: .9375rem;
    --release-pagination-dot-border-radius: 50%;
    --release-pagination-dot-margin: 0 .5rem;

    --image-gallery-gap: .625rem;
    --image-gallery-flex-basis: 11.25rem;

    --newsletter-max-width: 80rem;
    --newsletter-padding: 1.875rem;
    --newsletter-heading-margin: 0 0 .625rem 0;
    --newsletter-paragraph-margin-bottom: 1.25rem;
    --newsletter-form-column-gap: 1.25rem;
    --newsletter-form-max-width: 34.375rem;
    --newsletter-email-box-flex-basis: 25rem;
    --newsletter-sr-only-margin-bottom: .313rem;
    --newsletter-input-height: 2.8125rem;
    --newsletter-input-margin-bottom: 1rem;
    --newsletter-input-padding: .625rem;
    --newsletter-input-border-size: .0625rem;
    --newsletter-submit-button-flex-basis: 8.125rem;
    --newsletter-submit-button-height: 2.8125rem;
    --newsletter-submit-button-margin-bottom: 1.875rem;
    --newsletter-submit-button-padding: .625rem 1.25rem;

    --footer-padding: 2.5rem;
    --footer-line-height: 1.5rem;
    --footer-section-padding-bottom: 1.25rem;
    --footer-section-divider-height: .0625rem;
    --footer-section-divider-margin: 0 0 1.25rem 0;
    --footer-social-icons-gap: .625rem;
    --footer-icon-width: 1.875rem;
    --footer-divider-height: .0625rem;
    --footer-divider-margin: 1.25rem 0 1.25rem 0;
    --subFooter-grid-max-content: 22.5rem;
    --subFooter-gap: 1rem;
    --footer-policy-links-flex-basis: 20rem;
}